<h1> ajout membre </h1>
<div class="formulaire">
<div [formGroup]="formMembre">
    <mat-form-field appearance="fill">
        <input matInput placeholder="Nom" formControlName="nom" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Prénom" formControlName="prenom" required>
    </mat-form-field>
</div>
Types de membres : <app-list-categorie [obsElement]="obsTypeMembre" [champs]="getControl('typeMembre')"></app-list-categorie>
Categories : <app-list-categorie [obsElement]="obsCategory" [champs]="getControl('categorie')"></app-list-categorie>
Section : <app-list-categorie [obsElement]="obsSection" [champs]="getControl('section')"></app-list-categorie>
<button  mat-raised-button color="accent" (click)="save()" [disabled]="!formMembre.valid"> Enregistrer </button>
</div>