<div class="corps">
  <form class="corps__form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. Pizza" formControlName="email">
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Ex. Pizza"  formControlName="mdp">
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="authentification()">Connexion</button>
  </form>
</div>