<div>
    <h1>  Page d'adminstration des adhérents </h1>
    <button  mat-raised-button color="accent"  (click)="openDialog()"> Ajout d'un utilisateur </button>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ajout d'un nouvel adhérent
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Liste des adhérents
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
<mat-paginator [length]="resultsLength" [pageSize]="30"
    aria-label="Select page of GitHub search results"></mat-paginator>
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
    
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
   
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>