<div>
    <h1>  Page d'adminstration des adhérents </h1>
    <button  mat-raised-button color="accent"  (click)="openDialog()"> Ajout d'un utilisateur </button>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ajout d'un nouvel adhérent
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Liste des adhérents
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</div>